<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsh.mybatis.mybatisgenerator.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.dsh.mybatis.mybatisgenerator.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dsh.mybatis.mybatisgenerator.model.User">
    insert into user (id, username, email, 
      grade, passwd)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER}, #{passwd,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dsh.mybatis.mybatisgenerator.model.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      passwd = #{passwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, email, grade, passwd
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, email, grade, passwd
    from user
  </select>
  <select id="getUser" resultMap="BaseResultMap">
    select id, username, email, grade, passwd
    from user where
    id = #{userVO.id}
    and passwd = #{userVO.password}
  </select>
</mapper>